

/*---------------- Footer ----------------*/
.Footer{
  background-color: rgb(36, 36, 36);
  color: white;
  margin-top: 2rem;
}
.Footer h5{
  color: rgb(0, 166, 255);
}
.Footer ul{
  list-style: none;
  padding-left: 0;
}
.Footer ul a{
  text-decoration: none;
  color: white;
}
.ft-1 a{
  color:rgb(0, 166, 255) ;
  
}
.Footer ul a:hover{
  color: rgb(0, 166, 255);
}
.footer-icons i {
  padding: 0.4rem 0.5rem;
  background: #e1e1e1;
  color: rgb(0, 166, 255);
  margin: 0 0.5rem;
  border-radius: 50%;
}

.footer-icons i:hover {
  background: rgb(0, 166, 255);
  color: #fff;
  transition: 0.6s;
  cursor: pointer;
}